@charset "UTF-8";

.custom-navbar {
    background-color: #4CAF50; 
}

.form-container {
    max-width: 400px; 
    margin: 20px auto; 
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3; 
    border-color: #0056b3;
}

.navbar-brand {
    text-align: center;
}
 .custom-navbar {
      background-color: #4CAF50; 
      padding: 15px; 
    }

    .navbar-brand {
      font-size: 2.0rem; 
      
    }

    .navbar-nav .nav-link {
      color: white !important; 
      font-size: 1.3rem; 
      padding: 10px 20px; 
    }
     .login-container {
      margin-top: 50px;
      padding: 30px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
    .side-image {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .form-control {
      border-radius: 5px;
    }

    .login-form {
      padding: 20px;
    }
    
   
    